body{
    font-family: sans-serif;
}
section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.card{
    width: 32%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border-top: 3px solid green;
    margin-top: 10px;
}
.card-title,
.card-body{
    padding:10px;
}
.card-body p{
    margin: 0;
    padding: 0;
    color: gray;
}


@media(min-width:0px){
    section{
        flex-wrap: wrap;
    }
   .card{
       width: 100%;
   }
}
@media(min-width:460px){
    
    .card{
        width: 49%;
    }
}
@media(min-width:860px){
    .card{
        width: 32%;
    }
}
@media(min-width:960px){
    
}
